.nocart {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
	display: grid;
	justify-content: center;
}

h3 {
	text-align: center;
}

.link {
	display: flex;
	justify-content: center;
}
.cartContainer{
	width: 50%;
	height: 90%;
	background-color: #ffffff;
	margin: auto;
}
.headbtn{
	display: flex;
	justify-content: center;	
}

.header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
	text-align: center;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}

.totalamount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	display: flex;
	justify-content: flex-end;
}

.btn {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  background: #ff6700;
  color: white;
	margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 30px;
  cursor: pointer
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}

.action{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	text-align: end;
}