.king {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  display: "flex";
}
.card {
  width: 650px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo {
  padding: 30px;
  width: 50%;
  height: 80%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 400px;
}
.description {
  padding: 30px;
  float: left;
  width: 50%;
  border-left: 2px solid #efefef;
  text-align: center;
}
.description h1 {
  color: #515151;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
.description h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.description p {
  font-size: 12px;
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
}
