.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

* {
	box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0px 60px 0px;
  color: black;
}