.btncontainer {
	display: flex;
	justify-content: center;	
}

.addtocart, .backtoproducts, .gotocart, .checkitout, .gotocheckout {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  background: #ff6700;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 30px;
  cursor: pointer;
}
