.paper {
  margin: auto !important;
  margin-top: 20px !important;
  width: 80% !important;
  display: flex !important;
  justify-content: center !important;
  box-shadow: none !important;
}

.btncont {
  display: flex !important;
  justify-content: space-around !important;
}

.btn {
  background-color: #ff6700 !important;
  border-radius: 30px !important;
  text-transform: none !important;
  box-shadow: none !important;
}