/* General Styles */

.bg {
  /* height: 100vh; */
  /* padding: 50px; */
  overflow: hidden;
  transition: 0.2s all linear;
}

.btn {
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s all linear;
}

/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: #222;
}

.bg-dark a{
  color: white !important;
}

.btn-dark {
  background-color: #fff;
  color: #222;
}